<h4><%= t :columba_master %></h4>
<strong><%= @usuario.nome %>,</strong>

<p><%= t :msg_info_para_reiniciar_senha %>:</p>

<%= link_to t(:label_reiniciar_senha), edit_password_reset_url(@usuario.reset_token, email: @usuario.email) %>


<p><%= t :msg_info_link_expiracao %></p>

<p><%= t :msg_info_ignorar_reiniciar_senha %></p>
