<%= t(:label_compartilhe) + "!  " %><a class="linkshare" href="https://api.whatsapp.com/send?text=<%= request.original_url %>" target="_blank"><%= logo_wz %></a>
<a class="linkshare" href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>" target="_blank"><%= logo_fb %></a> 
<br /><br />