<br />
<div id="lista_pombos" class="list-group">
  <% @pombos.each do |pombo| %>
    <div class="list-group-item">
      <div class="row linha-1-4">
        <div class="col-sm-6">
          <strong><%= t(:label_pombo) %></strong>: <%= link_to "#{pombo.anilha} #{pombo.nome}", edit_pombo_path(pombo) %>
        </div>
        <div class="col-sm-2">
          <strong><%= t(:label_ano) %></strong>: <%= pombo.dtnasc ? pombo.dtnasc.year : pombo.dtnasc %>
        </div>
        <div class="col-sm-2">
          <strong><%= t(:label_cor) %></strong>: <%= pombo.desc_cor %>
        </div>
        <div class="col-sm-2">
          <strong><%= t(:label_sexo) %></strong>: <%= pombo.sexo == "F" ? t(:label_sexo_F) : t(:label_sexo_M) %>
        </div>
      </div>
      <div class="row linha-1-4">
        <div class="col-sm-6">
          <strong><%= t(:label_pai) %></strong>: <%= parente_nome(pombo,'P') %>
        </div>
        <div class="col-sm-6">
          <strong><%= t(:label_mae) %></strong>: <%= parente_nome(pombo,'M') %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <strong><%= t(:label_linhagem) %></strong>: <%= pombo.linhagem %>
        </div>
      </div>
      <div class="row linha-2-0">
        <div class="col-sm-12">
          <%= link_to pombo, class: botao_link, :title => t(:label_pedigree), :rel => 'tooltip', "data-placement" => "bottom" do %>
            <span class="fa fa-share-alt"></span>
          <% end %>
          <%= link_to edit_pombo_path(pombo), class: botao_link, :title => t(:label_editar), :rel => 'tooltip', "data-placement" => "bottom" do %>
            <span class="fa fa-pencil-alt"></span>
          <% end %>
          <button type="button" onclick="excluir_item('<%= pombo.id %>','/pombos', '<%= t(:msg_quest_apagar_padrao) %>')"
                  class="<%= botao_link %>"
                  title="<%= t :label_excluir %>">
            <span class="fa fa-trash"></span>
          </button>
          
          <button type="button" 
                  onclick="exec_ajax_with_parms({id: '<%= pombo.id %>', tela:'M'},'/pombos/show_modal')"
                  class='<%= "#{botao_link} noneImprime" %>'
                  title="<%= t :label_mais_info %>">
            <span class="fa fa-info-circle"></span>
          </button>

          <button type="button" 
                  onclick="exec_ajax_with_parms({id: '<%= pombo.id %>'},'/pombos/show_modal_aplicacao')"
                  class="<%= botao_link %>"
                  title="<%= t(:label_adicionar_compl, compl: t(:label_aplicacao)) %>">
            <span class="fa fa-medkit"></span>
          </button>
          
          <button type="button" 
                  onclick="exec_ajax_with_parms({id: '<%= pombo.id %>', tela:'T'},'/pombos/show_modal')"
                  class='<%= "#{botao_link} noneImprime" %>'
                  title="<%= t :label_premio %>">
            <span class="far fa-star"></span>
          </button>

        </div>
      </div>
    </div>
  <% end %>
</div>

<div id="modal_pombo">
</div>

<div id="modal_gerar_tratamento">
</div>