<% provide(:title, t(:label_atualize_seu_perfil)) %>

<h4><strong><%= t(:label_atualize_seu_perfil) %></strong></h4>

<div class="row justify-content-md-center">
  <div class="col-md-6 ml-md-auto mr-md-auto">

    <%= form_for(@usuario) do |f| %>
      <%= render 'shared/error_messages', obj: @usuario %>
      <%= render 'fields', frm: f %>
      <div class="d-grid">
        <%= f.submit t(:label_salvar), class: botao_estilo %>
      </div>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @usuario %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener" ><%= t :label_alterar %></a>
    </div>
    <br />
    <% if @usuario.admin? %>
      <%= link_to t(:label_apagar_conta), @usuario, method: :delete,
                                  data: { confirm: t(:msg_quest_apagar_conta)} %>
    <% end %>
  </div>
</div>
<br />
<% if @usuario.activated? %>
  <%= link_to :back, class: botao_link do %>
    <span class="fa fa-caret-left"></span> <%= t :label_cancelar %>
  <% end %>
<% end %>