<br />
<footer class="footer bg-4 text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 py-2">
        <%= link_to image_tag("logo_footer_cm.png", alt: "", size: "250x35"), root_path %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 py-1">
        <div class="mx-auto">
          <%= link_to image_tag("youtube427x300.png", alt: "", size: "35x25"), "https://www.youtube.com/channel/UCKcA8HDOHr5MEGLq7E0lKdQ", target: "_blank", rel: "nofollow" %>
          <%= link_to image_tag("facebook300x300.png", alt: "", size: "30"), "https://www.facebook.com/Columba-Master-2189786304652306", target: "_blank", rel: "nofollow" %>
          <%= link_to image_tag("instagram300x300.png", alt: "", size: "30"), "https://www.instagram.com/columbamaster/", target: "_blank", rel: "nofollow" %>
        </div>
        <div class="mx-auto"><%= t :home_msg_social_net %></div>
        <!-- 
         div class="mx-auto pt-2">
          %= image_tag('whatsapp300x301.png', alt: "", size: "30") + " +55 (31) 97575-8935" %>
          /div>
        -->
      </div>  
    </div>
  </div>
</footer>